

<div class="channels-list">
  <mat-card class="channel-item"  *ngFor="let channel of waitingChannels; let i = index" [value]="channel.name" (click)="openChannel(i)">

      <div>
        <span [matBadge]="channel.unreadMessages" MatBadgePosition="below before"   matBadgeOverlap="false">{{channel.name}}</span>
      </div>
      <!-- <span *ngIf="!channel.unreadMessages || channel.unreadMessages <= 0">{{channel.name}}</span> -->

  </mat-card>
  <mat-card *ngIf="waitingChannels.length <= 0">No Channels</mat-card>

</div>


<!-- <mat-selection-list #shoes [multiple]="false">
  <mat-list-option *ngFor="let channel of channels; let i = index" [value]="channel.name" (click)="openChannel(i)">
    <p>
      <span matBadge="4" matBadgeOverlap="false">{{channel.name}}</span>
    </p>

  </mat-list-option>
</mat-selection-list> -->
